body {
  background-image: linear-gradient(to bottom, red, rgb(39, 1, 1));;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: azure;
  text-align: left;
}

h2{
    color: rgb(255, 169, 186);
    text-align: center;
}