body {
  background-image: linear-gradient(to bottom, red, rgb(39, 1, 1));;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2{
    color: crimson;
    text-align: center;
}